{
    "bitstamp": {
        "client_id": "",
            "sub_account1": {
                "key": "",
                "secret": ""
            },
            "sub_account2": {
                "key": "",
                "secret": ""
            }
    },
    "telegram": {
        "bot_token": ""
    }
}

